# Interfaz Gráfica y Túneles
gradio>=4.0.0

# Framework principal de Inteligencia Artificial (PyTorch)
torch>=2.0.0
torchaudio>=2.0.0
torchvision>=0.15.0

# Monitorización de Métricas (Loss Avg Total)
tensorboard>=2.14.0

# Procesamiento de Audio y Matemáticas
numpy>=1.23.0
scipy>=1.10.0
librosa>=0.10.0
soundfile>=0.12.1
pydub>=0

# Indexación Vectorial Avanzada (FAISS HNSW)
faiss-cpu>=1.7.4
faiss-gpu>=1.7.4

# Utilidades adicionales para extracción de pitch (FCPE/RMVPE) y web
requests
tqdm
torchcrepe>=0.0.20

# Redes y Extracción de Features (Embedders para Whisper/ContentVec)
fairseq>=0.12.2
transformers>=4.35.0
accelerate>=0.24.0
